*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/JavaTCPSocketSimulator/nbproject/private/
build/
/JavaIPMulticast/nbproject/private/
/WebApplication1/nbproject/private/
/WebApplicationGetPost/nbproject/private/
/WebApplicationGetPost/dist/
/LabGetPost/nbproject/private/
/JavaServlet/nbproject/private/
/ApplicationForwarding/nbproject/private/
/PracticaServlet/nbproject/private/
/WebLogin/nbproject/private/
/WebCines/nbproject/private/
/UrlRewrite/nbproject/private/
/CookiesWebApp/nbproject/private/
/CookieLogin/nbproject/private/
/HttpSession/nbproject/private/
/WebApplicationDB/nbproject/private/
/WebApplicationDB/dist/
/WebDBCRUD/nbproject/private/
/WebDBScroll/nbproject/private/